// Normally mainpage styles
.love 
	background: url(../img/love.png) no-repeat center
	height: 879px
	text-align: center
	+r(1024)
		background: none
		height: auto
	.love__in
		padding: 0 20px
		// margin: auto
		// max-width: 680px
	.love__tpic
		padding-top: 170px
	.love__mpic
		text-align: left
		margin: -23px auto 0
		max-width: 640px
		// +hide-text
		+r(768)
			text-align: left
			margin-top: -10px
		+r(400)
			text-align: center
		i
			vertical-align: middle
			+r(400)
				display: block
				margin-bottom: 15px
		.icon-love
			color: #fff
			font-size: 177px
			+r(768)
				font-size: 120px
			+r(540)
				font-size: 75px
		.icon-sale
			color: #b7176e
			font-size: 82px
			position: relative
			top: 17px
			left: 30px
			+r(768)
				font-size: 60px
				top: 11px
			+r(540)
				font-size: 45px
				top: 6px
				+r(400)
					left: 0
					top: 0
		span
			font-size: 35px
			color: #fff
			+bold
			display: block
			text-transform: uppercase
			text-align: right
			margin-top: -15px
			+r(768)
				margin-top: 15px
				text-align: left
				font-size: 30px
			+r(400)
				text-align: center
	.love__bpic
		margin-top: 30px
		color: #fff
		+regular
		font-size: 28px
		max-width: 590px
		margin: auto
		margin-top: 40px
		text-align: left
		+r(768)
			text-align: center
		span
			display: inline-block
			vertical-align: middle
			padding-right: 15px
		i
			vertical-align: middle
	img
		display: inline-block
.go-in
	padding: 18px
	background-color: #b7176e
	border-radius: 3px
	margin: auto
	position: relative
	margin-top: 31px
	max-width: 640px
	+r(768)
		margin-top: 20px
	.row
		font-size: 0
	[class^="col"],
	[class*="col"]
		display: inline-block
		vertical-align: top
	.col1 
		padding-right: 18px
		width: 78%
		+r(1024)
			width: 65%
		+r(450)
			width: 100%
			padding-right: 0
			margin-bottom: 10px
	.col2
		width: 22%
		+r(1024)
			width: 35%
		+r(450)
			width: 100%
	.btn 
		text-transform: uppercase
		background-color: $dark
		width: 100%
.m-card
	position: relative
	font-size: 0
	text-align: center
	.m-card__in
		margin: auto
		max-width: 990px
		padding: 54px 20px 189px
	.m-card__content
		.col1, .col2
			width: 50%
			display: inline-block
			vertical-align: top
			+r(976)
				width: 100%
				margin-bottom: 20px
	.card__title
		padding: 0 20px 45px
	.heart
		display: inline-block
		vertical-align: top
		width: 50%
		+r(540)
			width: 100%
			&:not(:last-child)
				margin-bottom: 50px
.m-card__tpic
	background: url(../img/mcard2.png) no-repeat
	max-width: 817px
	background-size: contain
	margin: auto
	+bold
	font-size: 43px
	color: #fff
	letter-spacing: -0.01em
	word-spacing: -0.1em
	text-align: left
	padding: 11px 10px
	text-align: center
	+r(900)
		background: #B7176E
		font-size: 35px
		max-width: 90%
		padding: 16px 10px
	+r(720)
		font-size: 24px
		max-width: 100%
		word-spacing: 0
		letter-spacing: 0
	.icon-lmodna
		margin-right: 10px
		+r(900)
			width: 55px
			height: 50px
		+r(500)
			width: 40px
			height: 37px
	.icon-mkasta-logo
		+r(900)
			width: 40px
			height: 50px
		+r(500)
			width: 30px
			height: 40px
	span, a, i
		vertical-align: middle
		display: inline-block
		+regular
		color: #fff
	span 
		i 
			position: relative
			top: -0.2857142857142857em //-14px / 49px
	a
		position: relative
		top: -0.10204081632653061em //-5px / 49px
.card, .bonus
	padding: 40px 0 0
.card
	display: none
	&.is-visible
		display: block
.card__title
	font: 24.66px Arial, sans-serif
	color: #fff
	span
		padding: 0 6px
		position: relative
		top: 1px
.heart
	position: relative
	&.heart_arrow
		&:before
			content: " "
			display: block
			position: absolute
			left: 0
			right: 0
			margin: auto
			bottom: 97%
			+s(arrow2)
		&:after
			content: " "
			display: block
			position: absolute
			top: 73px
			right: -20px
			+s(arrow)
			+r(976)
				+scale(1.5)
			+r(540)
				left: 0
				right: 0
				margin: auto
				top: 108%
				+rotate(90)

	figcaption
		font: 18px Arial, sans-serif
		color: #fff
		margin-top: 52px
		+r(540)
			margin-top: 20px
		span 
			color: #b2b2b2
			font-size: 14px
			display: block
			margin-top: 24px
.bonus
	position: relative
	color: #fdfdfd
	+bold
	font-size: 31px
	+r(540)
		font-size: 26px
	a
		text-decoration: underline
		font-size: 24px
		color: #ffffff
		vertical-align: middle
		+regular
		position: relative
		top: -2px
.share-wrp
	position: relative
.share
	position: relative
	.share__in
		max-width: 980px
		margin: auto
		padding: 0 20px 263px
		&.share__in_no-space
			+r(1024)
				padding-bottom: 0
		+r(1024)
			padding-bottom: 20%
.logos-wrp
	position: relative
	.time-b
		position: absolute
		top: 84px
		left: -50px
		+r(1100)
			display: block
			position: relative
			padding: 30px 0
			text-align: center
			top: inherit
			left: inherit
		.time-b__heart
			+r(1100)
				display: inline-block
.logos
	background-color: #fff
	border-radius: 10px
	padding: 110px 20px 40px
	text-align: center
	position: relative
	&.logos_top-spacing
		padding-top: 76px
	.icon-angl1
		// right: calc(100% + 50px)
		right: 100%
		margin-right: 50px
		top: 234px
	.icon-angl2
		left: 105%
		top: -96px
	.icon-angl3
		// right: calc(100% + 50px)
		right: 100%
		margin-right: 50px
		bottom: 152px
	.icon-angl4
		left: 105%
		top: 325px
	.icon-angl5
		// right: calc(100% + 50px)
		// bottom: calc(100% + 59px)
		right: 100%
		margin-right: 50px
		bottom: 100%
		margin-bottom: 59px
	.icon-angl6
		left: 105%
		top: 406px
	.icon-angl7
		// right: calc(100% + 50px)
		right: 100%
		margin-right: 50px
		top: 375px
	+r(1024)
		height: auto
		padding: 80px 10px 30px
	[class^="icon-angl"]
		position: absolute
		z-index: 10
		+r(1420)
			display: none
.top-header
	position: absolute
	top: -175px
	right: 0
	background: url(../img/logos-top.png) no-repeat
	height: 324px
	width: 1041px
	+r(1024)
		background: url(../img/logos-top-simp.png) no-repeat
		width: 421px
		left: 0
		right: 0
		margin: auto
	+r(768)
		background: url(../img/logos-top-med.png) no-repeat
		width: 320px
		height: 246px
		top: -140px
	+r(480)
		background: url(../img/logos-top-med.png) no-repeat
		background-size: cover
		width: 280px
		height: 215px
		top: -120px
	img 
		max-width: none
	.top-header__title
		text-transform: uppercase
		text-align: center
		font-size: 29px
		line-height: 31px
		color: #91165a
		+bold
		max-width: 142px
		display: inline-block
		position: absolute
		left: 130px
		top: 110px
		+r(768)
			left: 86px
			top: 78px
			font-size: 22px
			line-height: 1.3
		+r(480)
			font-size: 18px
			left: 80px
			max-width: 115px
			top: 70px
.time-b
	display: inline-block
	.time-b__heart
		display: block
		text-align: center
		background: url(../img/time-b-heart.png) no-repeat
		width: 58px
		height: 51px
		line-height: 44px
		margin-bottom: 8px
		cursor: pointer
		position: relative
		&:active
			top: 1px
		span 
			font-size: 12px
			color: #fff
			+bold
			display: inline-block
			padding-bottom: 4px
.bottom
	position: relative
	&__in
		max-width: 980px
		margin: auto
		padding: 0 20px 107px
.old
	position: relative
	height: 341px
	background-color: black
	border-bottom: 3px solid #88034c
	border-radius: 10px
	+r(1024)
		height: auto
		.top-header, i
			position: relative
			top: inherit
			right: inherit
			bottom: inherit
			left: inherit
			display: block
	i
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
		position: absolute
		z-index: 5
		+r(1024)
			transform: scale(0.8)
		+r(768)
			transform: scale(0.6)
		+r(480)
			transform: scale(0.5)
.mail-form-wrp
	position: absolute
	right: 14px
.mail-form
	width: 200px
	height: 172px
	padding: 15px 10px 20px
	text-align: center
	background-color: #7d1756
	background: linear-gradient(45deg, #7d1756 0%, #7e1856 100%)
	border-radius: 5px
	z-index: 100
	right: 14px
	+r(1420)
		display: none
	.mail-form__top
		+proxima-regular
		font-size: 11px
		color: #fff
		text-align: center
		margin-bottom: 18px
	.input-text
		font-size: 13px
		+proxima-regular
		margin-bottom: 18px
	.btn
		background-color: #3d0122
		+proxima-bold
		width: 115px
